*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
li{
  list-style-type: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.header{
}
.upgrade{
  background-color: #0F0F0F;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
  top:0;
  left: 0;
}
.button{
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 15px;
  transition: .2s;
}
.button:hover{
  font-size: 18px;
  margin-right: 0px;
  border-radius: 23px;
}
/* MAIN SECTION */
main{
  background-color: #1E1E1E;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
}
.main_nav{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.color{
  color: #B3B3A2;
}
.ul_main_nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.li_main_nav{
  padding: 25px 10px;
  font-size: 16px;
}
.musica{
  padding: 30px;
  padding-top: 0px;
}
.musica_titolo{
  padding: 25px 0px;
}
h2{
  color: white;
  padding: 5px 0px;
}

.scroll{
  overflow-y: auto;
  width: calc(100% - 240px);
}
.display_flex{
  display: flex;
  flex-wrap: wrap;
}
.container_album{
  width: calc(100% / 6 - 15px);
  min-width: 150px;
  margin-right: 15px;
  padding-bottom: 35px;
}
.container_img{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.text_img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img_title{
  color: white;
  padding: 5px 0px;
}
.img_subtitle{
  color: #B3B3A2;
}
.layover{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: #29292C;
  height: 100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layover:hover{
  opacity: 0.8;
}
.img_main{
  width: 100%;
}
.img_main:hover{
  opacity: 0.1;
}
.nav_play{
  font-size: 35px;
  color: white;
}
/* NAVIGATION SECTION */

.navigation{
  background-color: black;
  height: calc(100vh - 100px);
  width: 240px;
  z-index: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.spotify_nav{
  width: 80%;
  padding-bottom: 15px;
}
.ul_font{
  color: #B3B3A2;
}
.nav_svg{
  height: 25px;
  vertical-align: middle;
  padding-right: 10px;

}
.a_white{
  vertical-align: middle;
  opacity: .7;
}
.li_img_nav{
 padding-top: 15px;
}
.a_white:hover{
  color: white;
  opacity: 1;
}
.li_img_nav:hover{
  color: white;
}
.nav_svg:hover{
}
.h3_nav{
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 25px 0px;
}
.a_plus{
  padding: 1px 12px;
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  vertical-align: middle;
}
.ul_playlist{
  overflow-y: auto;
  flex-grow: 1;
}
.crea_p{
  font-size: 15px;
  color: #B3B3A2;
  margin-bottom: 30px;
  padding-left: 15px;
  display: inline-block;
}
.nome_play{
  font-size: 15px;
  color: #B3B3A2;
  padding-bottom: 15px;
  display: block;
}
.container{
}
.download{
  height: 20px;
  vertical-align: middle;
  padding-right: 5px;
  filter: grayscale(.6) sepia(.9);
}
.a_white{
  vertical-align: middle;
  color: #B3B3A2;
  font-size: 13px;
}
.nav_username{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #B3B3A2;
}
.background_grey{
  background-color: grey;
  display: inline-block;
  border-radius: 100%;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.nav_profile{
  height: 100%;
}
.username{
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  display: inline-block;
}

/* PLAYER SECTION */
.player{
  background-color: #29292C;
  width: 100%;
  height: 100px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sinister{
  width: 17%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sinister_img{
  width: 25%;
  vertical-align: middle;
  min-width: 50px;
}
.ul_sin{
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  width: 40%;
}
.li_sinister{
  color: white;
}
.li_brano{
  font-size: 13px;
}
.fa-folder, .fa-heart, .li_brano{
  color: #B3B3A2;
}
.sin_entity>i:last-child{
  padding-left: 5px;
}
.ul_play{
  display: flex;
  justify-content: center;
  align-items: center;
}
.li_play{
  display: inline-block;
  font-size: 14px;
  color: white;
  padding: 0px 20px;
}
.li_player{
  font-size: 25px
}
.l{
  font-size: 20px;
}
.bar_play{
  display: inline-block;
  border-top: 4px solid white;
  border-radius: 2px;
  width: 70%;
  margin-top: 10px;
}
.div_min{
  display: flex;
  justify-content: space-between;
}
.min{
  vertical-align: sub;
  color: white;
}
.prim{
}
.volume{
  width: 17%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
.ul_volume{
  display: flex;
  justify-content: flex-end;
}
.li_volume{
  font-size: 15px;
  padding-right: 15px;
  color: white;
  display: inline-block;
}
.bar{
  border-top: 4px solid white;
  border-radius: 2px;
  min-width: 100px;
  margin: 0px 10px;
  width: 130px;
}
.play{
  width: 40%;
}
@media screen and (min-width:769px) and (max-width:992px){
.sinister{
  width: 25%;
}
.volume{
  width: 25%;
}
}
@media screen and (max-width:768px){

}
