*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
li{
  list-style-type: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main{
  position: relative;
}
.header{
}
.upgrade{
  background-color: #0F0F0F;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  z-index: 1;
}
.button{
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 15px;
  transition: .2s;
}
.button:hover{
  font-size: 18px;
  margin-right: 0px;
  border-radius: 23px;
}
/* NAVIGATION SECTION */

.navigation{
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 100vh;
  width: 250px;
  z-index: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.spotify_nav{
  width: 80%;
  padding-bottom: 15px;
}
.ul_font{
  color: #B3B3A2;
}
.nav_svg{
  height: 25px;
  vertical-align: middle;
  padding-right: 10px;
  filter: grayscale(.6) sepia(.9);
}
.a_white{
  vertical-align: middle;
  color: #B3B3A2;
}
.li_img_nav{
 padding-top: 15px;
}
.a_white:hover{
  color: white;
  filter: grayscale(0) sepia(0);
}
.li_img_nav:hover{
  color: white;
  filter: grayscale(0) sepia(0);
}
.nav_svg:hover{
  filter: grayscale(0) sepia(0);
}
.h3_nav{
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 25px 0px;
}
.a_plus{
  padding: 1px 12px;
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  vertical-align: middle;
}
.ul_playlist{
  overflow-y: auto;
}
.crea_p{
  font-size: 15px;
  color: #B3B3A2;
  margin-bottom: 30px;
  padding-left: 15px;
  display: inline-block;
}
.nome_play{
  font-size: 15px;
  color: #B3B3A2;
  padding-bottom: 15px;
  display: block;
}
.container{
  width: 95%;
  margin: auto;
  align-items: flex-end;
}
.download{
  height: 20px;
  vertical-align: middle;
  padding-right: 5px;
  filter: grayscale(.6) sepia(.9);
}
.a_white{
  vertical-align: middle;
  color: #B3B3A2;
  font-size: 13px;
}
.nav_username{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #B3B3A2;
}
.background_grey{
  background-color: grey;
  display: inline-block;
  border-radius: 100%;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.nav_profile{
  height: 100%;
}
.username{
  font-weight: bold;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  display: inline-block;
}
/* MAIN SECTION */
main{
  overflow-y: scroll;
  background-color: #1E1E1E;
  width: 100%;
}
.display{
  display: block;
}
/* PLAYER SECTION */
.player{
  position: absolute;
  bottom:0;
  left: 0;
  background-color: #29292C;
  width: 100%;
  height: 80px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
.sinister{
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sinister_img{
  height: 50px;
  vertical-align: middle;
}
.ul_sin{
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}
.li_sinister{
  color: white;
}
.li_brano{
  color: #B3B3A2;
  font-size: 13px;
}
.fa-folder, .fa-heart{
  color: #B3B3A2;
  padding-left: 10px;
}
.sin_entity{
  margin-left: 40px;
}
.ul_play{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.li_play{
  display: inline-block;
  padding-right: 30px;
  font-size: 20px;
  color: white;
}
.li_player{
  font-size: 30px
}
.l{
  font-size: 25px;
}
.bar_play{
  display: inline-block;
  border-top: 4px solid white;
  border-radius: 2px;
  width: 300px;
  margin-top: 10px;
  margin-right: 30px;
}
.div_min{
  vertical-align: middle;
}
.min{
  vertical-align: sub;
  color: white;
}
.prim{
  margin-right: 30px;
}
.volume{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.li_volume{
  font-size: 15px;
  padding-right: 15px;
  color: white;
  display: inline-block;
}
.bar{
  border-top: 4px solid white;
  border-radius: 2px;
  width: 100px;
  margin: 0px 15px;
}
